.cat2{
    padding-left: 20px !important;
}

.cat3{
    padding-left: 40px !important;
}

#scrollbar {
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 0%;
    height: 5px;
    z-index: 9999;
}

#scrollbar-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #E16036;
}

.binshops-cat-hierarchy {
    list-style-type: none !important;
}
